<div class="container">
    <div class="list">
        @for (subject of subjectList; track subject.id) {
            <div class="item">
                <div class="image-wrapper">
                    <img (click)="showSubject(subject)" [src]="getImage(subject.id)" [alt]="subject.name + ' Image'">
                </div>
                <div class="subject-footer">
                    <span>{{ subject.name }}</span>
                    <div class="subject-actions">
                        <mat-icon style="color: gray" (click)="editSubject(subject)">edit</mat-icon>
                        <mat-icon style="color: darkred" (click)="deleteSubject(subject)">delete</mat-icon>
                    </div>
                </div>
            </div>
        }
    </div>
    <button mat-fab
            color="primary"
            class="create-subject-button"
            aria-label="Create Subject"
            (click)="openCreateSubjectDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
