@if (subject) {
  <div class="container">
    <div class="subject-container">
      <label for="image">
        <img [src]="image" alt="Subject Image">
      </label>
      <input id="image" type="file" accept="application/png, application/webp, application/jpeg" [hidden]="true"
             (change)="pickFile($event)">
      <app-input [color]="primaryColor" placeholder="Name" [value]="subject.name"
                 (textChange)="subject.name = $event" [showInfo]="true"></app-input>
      <app-text-area placeholder="Description" (onChange)="subject.description = $event"></app-text-area>
      <mat-checkbox color="primary" [(ngModel)]="subject.free">Available for all</mat-checkbox>
      <button class="update-button" mat-raised-button color="primary" (click)="updateSubject()">Update Subject</button>
    </div>
  </div>
}
