.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 25vw;
  padding: 30px 60px 60px;

  .horizontal-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .create-button {
    width: 100%;
  }

  app-file {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}
