@import "src/styles.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D4D1C5;

  .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .tree-txt {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    .summary {
      width: 50%;
      margin-top: -100px;
      margin-bottom: 40px;
      font-size: 1.1rem;
      text-align: center;
    }

    .tree {
      height: 91vh;
      object-fit: contain;
    }
  }
}

footer {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-color: $app-primary-color;
  color: white;

  & > * {
    position: relative;
  }

  & > *:not(:last-child)::after {
    content: '|';
    position: absolute;
    right: -44px;
    color: $app-accent-color;
  }

  p {
    font-size: 1.4rem;
    color: $app-accent-color;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $app-secondary-color;
    }
  }
}
