<div class="container">
  <div class="image-wrapper">
    <h3 class="tree-txt">[ Navigating the 21st century takes a sharp mind, a kind heart, and the courage to question
      yourself. That is what we aim to teach. ]</h3>
    <img class="tree" src="assets/tree.png">
    <p class="summary">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
      ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
      rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
      amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
      takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <div class="bubble-wrapper">
      <img class="bubble-img" src="assets/bubble.png">
      <img class="thinking-img" src="assets/thinking.png">
    </div>
  </div>
</div>
<footer>
  <p><a routerLink="/agb">Terms & Conditions</a></p>
  <p><a routerLink="/datenschutz">Privacy Policy</a></p>
  <p><a routerLink="/team">Unser Team</a></p>
  <p><a routerLink="/projekt">Unser Projekt</a></p>
  <p>Disclaimer</p>
  <p>Impressum</p>
</footer>
