.container {
  padding: 10px 20px;

  .action-icon {
    cursor: pointer;
  }

  .delete-icon {
    color: darkred;
  }

  .mat-mdc-row {
    cursor: pointer;
    transition: 200ms;

    &:hover {
      background: #e5e5e5;
    }
  }
}
