@import "src/styles";

.container {
  width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 30px 60px 60px;

  .create-button {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  app-text-area {
    width: 100%;
  }

  app-file {
    width: 100%;
  }
}
