<div class="container">
  <h1>Create Subject</h1>
  <app-input [color]="primaryColor" class="input" (textChange)="name = $event" placeholder="Name"></app-input>
  <app-file text="Image" accept="application/png, application/webp, application/jpeg"
            (fileChange)="file = $event"></app-file>
  <app-text-area placeholder="Description" [value]="description" (onChange)="description = $event"></app-text-area>
  <mat-checkbox color="primary" [(ngModel)]="free">Available for all</mat-checkbox>
  <app-button class="create-button" text="Create" icon="add" (click)="createSubject()"></app-button>
</div>
