<header>
    <div class="title-div">
        <h1 (click)="navigateToHome()">{{ title }}</h1>
    </div>
    <div class="links">
        @if (!isLoggedIn) {
            <span class="login-btn" (click)="login()">Login</span>
        }
        @if (isLoggedIn && user) {
            <app-profile-image [user]="user" (click)="toggleMenu()"></app-profile-image>
        }
    </div>
</header>
@if (isLoggedIn) {
    <app-dropdown-menu [ngClass]="menuOpened ? 'menu-opened' : ''"
                       [user]="user"
                       (logout)="logout()">
    </app-dropdown-menu>
}
<router-outlet></router-outlet>
<app-popup-info [ngClass]="'popup ' + (showPopup ? 'show-popup' : '')" (onClose)="close()"></app-popup-info>
