@import "src/styles.scss";

.content-wrapper {
  background: linear-gradient(to left top, white, rgba($app-secondary-color, 0.5));
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 5vh;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: white;
  color: black;

  .title-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    &:hover {
      color: $app-secondary-color;
    }

    $icon-size: 2.2rem;

    mat-icon {
      width: $icon-size;
      height: $icon-size;
      transition: 200ms;
      font-size: $icon-size;
    }

    .logo {
      height: 70px;
      cursor: pointer;
    }
  }

  .user-links {
    display: flex;
    flex-direction: row;
    gap: 40px;

    a {
      color: black;
      font-size: 1.4em;
      text-decoration: none;
      position: relative;
      padding-bottom: 2px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: $app-primary-color;
        transition: width 0.3s ease;
      }

      &:hover {
        color: $app-primary-color;

        &::after {
          width: 100%;
        }
      }
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;

    span {
      color: black;
      cursor: pointer;

      &:hover {
        color: $app-primary-color;
      }
    }

    .login-btn {
      font-size: 1.2rem;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: $app-primary-color;
      }
    }
  }
}

app-dropdown-menu {
  position: fixed;
  top: 80px;
  right: 40px;
  pointer-events: none;
  z-index: 100;
  transition: 500ms;
  opacity: 0;
  transform: translateY(-20%);
}

.menu-opened {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.popup {
  position: fixed;
  z-index: 99999;
  left: 50%;
  top: 20px;
  transition: 200ms;
  opacity: 0;
  transform: translateX(-50%) translateY(-100%);
}

.show-popup {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
