<header>
  <div class="title-div">
    <h1 (click)="navigateToHome()">{{title}}</h1>
  </div>
  <div class="links">
    <span class="login-btn" *ngIf="!isLoggedIn" (click)="login()">Login</span>
    <div *ngIf="isLoggedIn" class="profile-div" (click)="toggleMenu()">
      <img *ngIf="!profileImgFailed" (error)="handleProfileImgError()"
           src="https://images3.alphacoders.com/132/1328226.pn">
      <div *ngIf="profileImgFailed && user">
        <span>{{user.firstName.charAt(0) + user.lastName.charAt(0) | uppercase}}</span>
      </div>
    </div>
  </div>
</header>
<app-dropdown-menu *ngIf="isLoggedIn"
                   [ngClass]="menuOpened ? 'menu-opened' : ''"
                   [user]="user"
                   (logout)="logout()">
</app-dropdown-menu>
<router-outlet></router-outlet>
<app-popup-info [ngClass]="'popup ' + (showPopup ? 'show-popup' : '')" (onClose)="close()"></app-popup-info>
