@import "src/styles.scss";

.container {
  padding-top: 10px;

  .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin: 20px 20px 0;

    .item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      border-radius: 20px;
      padding-bottom: 10px;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      transition: 300ms;
      cursor: pointer;

      &:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
      }

      .image-wrapper {
        width: 90%;
        height: 200px;
        margin-top: 10px;
        border-radius: 20px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: 300ms ease-in-out;
          object-fit: cover;
        }
      }

      span {
        font-size: 1.5rem;
        transition: 300ms ease-in-out;
        color: $app-primary-color;
      }
    }
  }

  .create-subject-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
