<div class="body">
  @if (classRoomList.length === 0) {
    <div class="empty-list">
      <h1>You don't have any classrooms yet</h1>
    </div>
  } @else {
    <div class="container">
      <div class="list">
        @for (classDto of classRoomList; track classDto.id) {
          <div class="item" (click)="showClass(classDto)">
            <div class="image-wrapper">
              <img [src]="getImage(classDto.id)" [alt]="classDto.name + ' Image'">
            </div>
            <span>{{ classDto.name }}</span>
          </div>
        }
      </div>
    </div>
  }
</div>
