<div class="container">
  @if (showInfo && selectedOption != '') {
    <div class="info-div">
      <div class="placeholder"></div>
      <span class="info">{{ placeholder }}</span>
    </div>
  }
  <div class="select">
    <button [ngClass]="!selectedOption ? 'placeholder' : ''" (click)="isOpen = !isOpen">
      <span>{{ selectedOption ? selectedOption : placeholder }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <div [@changeHeightAnimation]="isOpen ? 'open' : 'close'" class="select-menu">
      <div class="spacer"></div>
      @for (currentOption of options; track currentOption) {
        <span (click)="onSelectOption(currentOption)" class="option">{{ currentOption }}</span>
      }
    </div>
  </div>
</div>
